body {background-color: #66FFFF;
font-family:"Book Antiqua", sans-serif;}

.Info {display:inline;
	padding-top:10px;
	padding-bottom:10px;}

.Info img {
	position:relative;
	left:30px;
	bottom:20pxs;}
.container {
	background-color: #FDFFBB;
	border-radius: 10px;}

.Professional, .Work, .References{
	padding-top:10px;
	padding-bottom:10px;}

.col-md-3 {border-top: 1px solid #66FFFF;
	border-left: 1px solid #66FFFF;}
	
.spacer {padding:25px;}