body {background-color: #9FFFFD;
font-family:"Book Antiqua", sans-serif;}

.Info {display:inline;
	padding-top:10px;
	padding-bottom:10px;}

.Info img {
	position:relative;
	left:-30px;
	bottom:-50pxs;}
.container {
	background-color: #FDFFBB;
	border-radius: 10px;}

.Professional, .Work, .References{
	padding-top:10px;
	padding-bottom:10px;}

.col-md-3 {border-top: 3px solid #9FFFFD;
	border-left: 3px solid #9FFFFD;}
	
.spacer {padding:25px;}